<h1>Новые условия труда</h1>
<h2><%= "сотрудник #{@user.l_name} #{@user.f_name} #{@user.s_name}" %></h2>

<%= render 'form', employment_term: @employment_term %>

<%= link_to 'Back', user_employment_terms_path(@user) %>
