<h1>Cтруктура подразделений предприятия</h1>

<%= @divisions_for_render %>

  <%# <table class="table table-striped">
    <thead>
      <tr>
        <th>Подразделение</th>
        <th>Количество сотрудников действующих</th>
      </tr>
    </thead>

    <tbody>
      <% @divisions.each do |division| %>
        <tr>
          <td><%#= division.name %></td>
          <td><%#= division.employment_terms.count %></td>
        </tr>
      <%# end %>
    </tbody>
  </table> %>

<%= link_to 'Все доступные должности', positions_path %> |
<%= link_to 'Все сотрудники', users_path %>
